In [93]:
import pandas as pd

In [94]:
df = pd.read_csv('cpi.csv')

In [95]:
df

,LOCATION_INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUT*CPI,TOT,AGRWTH,M,2011-01,2.502317,NaN
1,AUT*CPI,TOT,AGRWTH,M,2011-02,3.021771,NaN
2,AUT*CPI,TOT,AGRWTH,M,2011-03,3.092950,NaN
3,AUT*CPI,TOT,AGRWTH,M,2011-04,3.310327,NaN
4,AUT*CPI,TOT,AGRWTH,M,2011-05,3.315974,NaN
...,...,...,...,...,...,...,...
5611,EU27_2020*CPI,TOT,AGRWTH,M,2019-12,1.600000,NaN
5612,EU27_2020*CPI,TOT,AGRWTH,M,2020-01,1.700000,NaN
5613,EU27_2020*CPI,TOT,AGRWTH,M,2020-02,1.600000,NaN
5614,EU27_2020*CPI,TOT,AGRWTH,M,2020-03,1.100000,NaN
5615,EU27_2020*CPI,TOT,AGRWTH,M,2020-04,0.600000,NaN

In [96]:
# split the integrated column "LOCATION_INDICATOR"
df[['LOCATION','INDICATOR']] = df['LOCATION_INDICATOR'].str.split('*',expand = True)

In [97]:
df

,LOCATION_INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes,LOCATION,INDICATOR
0,AUT*CPI,TOT,AGRWTH,M,2011-01,2.502317,NaN,AUT,CPI
1,AUT*CPI,TOT,AGRWTH,M,2011-02,3.021771,NaN,AUT,CPI
2,AUT*CPI,TOT,AGRWTH,M,2011-03,3.092950,NaN,AUT,CPI
3,AUT*CPI,TOT,AGRWTH,M,2011-04,3.310327,NaN,AUT,CPI
4,AUT*CPI,TOT,AGRWTH,M,2011-05,3.315974,NaN,AUT,CPI
...,...,...,...,...,...,...,...,...,...
5611,EU27_2020*CPI,TOT,AGRWTH,M,2019-12,1.600000,NaN,EU27_2020,CPI
5612,EU27_2020*CPI,TOT,AGRWTH,M,2020-01,1.700000,NaN,EU27_2020,CPI
5613,EU27_2020*CPI,TOT,AGRWTH,M,2020-02,1.600000,NaN,EU27_2020,CPI
5614,EU27_2020*CPI,TOT,AGRWTH,M,2020-03,1.100000,NaN,EU27_2020,CPI
5615,EU27_2020*CPI,TOT,AGRWTH,M,2020-04,0.600000,NaN,EU27_2020,CPI

In [98]:
# drop the redundant column
df = df.drop(columns = ["LOCATION_INDICATOR"], axis = 1)

In [99]:
df

,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes,LOCATION,INDICATOR
0,TOT,AGRWTH,M,2011-01,2.502317,NaN,AUT,CPI
1,TOT,AGRWTH,M,2011-02,3.021771,NaN,AUT,CPI
2,TOT,AGRWTH,M,2011-03,3.092950,NaN,AUT,CPI
3,TOT,AGRWTH,M,2011-04,3.310327,NaN,AUT,CPI
4,TOT,AGRWTH,M,2011-05,3.315974,NaN,AUT,CPI
...,...,...,...,...,...,...,...,...
5611,TOT,AGRWTH,M,2019-12,1.600000,NaN,EU27_2020,CPI
5612,TOT,AGRWTH,M,2020-01,1.700000,NaN,EU27_2020,CPI
5613,TOT,AGRWTH,M,2020-02,1.600000,NaN,EU27_2020,CPI
5614,TOT,AGRWTH,M,2020-03,1.100000,NaN,EU27_2020,CPI
5615,TOT,AGRWTH,M,2020-04,0.600000,NaN,EU27_2020,CPI

In [100]:
#arrange the columns
df = df[['LOCATION','INDICATOR','SUBJECT','MEASURE','FREQUENCY','TIME','Value','Flag Codes']]

In [101]:
df

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUT,CPI,TOT,AGRWTH,M,2011-01,2.502317,NaN
1,AUT,CPI,TOT,AGRWTH,M,2011-02,3.021771,NaN
2,AUT,CPI,TOT,AGRWTH,M,2011-03,3.092950,NaN
3,AUT,CPI,TOT,AGRWTH,M,2011-04,3.310327,NaN
4,AUT,CPI,TOT,AGRWTH,M,2011-05,3.315974,NaN
...,...,...,...,...,...,...,...,...
5611,EU27_2020,CPI,TOT,AGRWTH,M,2019-12,1.600000,NaN
5612,EU27_2020,CPI,TOT,AGRWTH,M,2020-01,1.700000,NaN
5613,EU27_2020,CPI,TOT,AGRWTH,M,2020-02,1.600000,NaN
5614,EU27_2020,CPI,TOT,AGRWTH,M,2020-03,1.100000,NaN
5615,EU27_2020,CPI,TOT,AGRWTH,M,2020-04,0.600000,NaN

In [102]:
# drop the blank column
df = df.drop(columns = ['Flag Codes'],axis = 1)

In [103]:
df = df.dropna(how = "any")

In [104]:
df

       LOCATION INDICATOR SUBJECT MEASURE FREQUENCY     TIME     Value
0           AUT       CPI     TOT  AGRWTH         M  2011-01  2.502317
1           AUT       CPI     TOT  AGRWTH         M  2011-02  3.021771
2           AUT       CPI     TOT  AGRWTH         M  2011-03  3.092950
3           AUT       CPI     TOT  AGRWTH         M  2011-04  3.310327
4           AUT       CPI     TOT  AGRWTH         M  2011-05  3.315974
...         ...       ...     ...     ...       ...      ...       ...
5611  EU27_2020       CPI     TOT  AGRWTH         M  2019-12  1.600000
5612  EU27_2020       CPI     TOT  AGRWTH         M  2020-01  1.700000
5613  EU27_2020       CPI     TOT  AGRWTH         M  2020-02  1.600000
5614  EU27_2020       CPI     TOT  AGRWTH         M  2020-03  1.100000
5615  EU27_2020       CPI     TOT  AGRWTH         M  2020-04  0.600000

[5616 rows x 7 columns]

In [105]:
df.to_csv("clean_cpi.csv", index = None)    #保存在当前文件夹