In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('./cpi.csv')

In [7]:
df

,location_indicator,SUBJECT,MEASURE,FREQUENCY,TIME,TIME.1,Value,Flag Codes,location,indicator
0,AUS_CPIFORECAST,TOT,AGRWTH,A,2015.0,2015.0,1.508367,NaN,AUS,CPIFORECAST
1,AUS_CPIFORECAST,TOT,AGRWTH,A,2016.0,2016.0,1.253773,NaN,AUS,CPIFORECAST
2,AUS_CPIFORECAST,TOT,NaN,A,2017.0,2017.0,1.972025,NaN,AUS,CPIFORECAST
3,AUS_CPIFORECAST,TOT,AGRWTH,A,2018.0,2018.0,1.933888,NaN,AUS,CPIFORECAST
4,AUS_CPIFORECAST,TOT,AGRWTH,A,2019.0,2019.0,1.551138,NaN,AUS,CPIFORECAST
...,...,...,...,...,...,...,...,...,...,...
324,EA17_CPIFORECAST,TOT,AGRWTH,A,2017.0,2017.0,1.528207,NaN,EA17,CPIFORECAST
325,EA17_CPIFORECAST,TOT,AGRWTH,A,2018.0,2018.0,1.761302,NaN,EA17,CPIFORECAST
326,EA17_CPIFORECAST,TOT,AGRWTH,A,2019.0,2019.0,1.168102,NaN,EA17,CPIFORECAST
327,EA17_CPIFORECAST,TOT,AGRWTH,A,2020.0,2020.0,1.118827,NaN,EA17,CPIFORECAST
328,EA17_CPIFORECAST,TOT,AGRWTH,A,2021.0,2021.0,1.378801,NaN,EA17,CPIFORECAST

In [8]:
df[['location','indicator']] = df['location_indicator'].str.split('_', expand=True)

In [14]:
df

,location_indicator,SUBJECT,MEASURE,FREQUENCY,TIME,TIME.1,Value,Flag Codes,location,indicator
0,AUS_CPIFORECAST,TOT,AGRWTH,A,2015.0,2015.0,1.508367,NaN,AUS,CPIFORECAST
1,AUS_CPIFORECAST,TOT,AGRWTH,A,2016.0,2016.0,1.253773,NaN,AUS,CPIFORECAST
2,AUS_CPIFORECAST,TOT,NaN,A,2017.0,2017.0,1.972025,NaN,AUS,CPIFORECAST
3,AUS_CPIFORECAST,TOT,AGRWTH,A,2018.0,2018.0,1.933888,NaN,AUS,CPIFORECAST
4,AUS_CPIFORECAST,TOT,AGRWTH,A,2019.0,2019.0,1.551138,NaN,AUS,CPIFORECAST
...,...,...,...,...,...,...,...,...,...,...
324,EA17_CPIFORECAST,TOT,AGRWTH,A,2017.0,2017.0,1.528207,NaN,EA17,CPIFORECAST
325,EA17_CPIFORECAST,TOT,AGRWTH,A,2018.0,2018.0,1.761302,NaN,EA17,CPIFORECAST
326,EA17_CPIFORECAST,TOT,AGRWTH,A,2019.0,2019.0,1.168102,NaN,EA17,CPIFORECAST
327,EA17_CPIFORECAST,TOT,AGRWTH,A,2020.0,2020.0,1.118827,NaN,EA17,CPIFORECAST
328,EA17_CPIFORECAST,TOT,AGRWTH,A,2021.0,2021.0,1.378801,NaN,EA17,CPIFORECAST

In [9]:
df = df.drop(columns = 'location_indicator')

In [10]:
df

,SUBJECT,MEASURE,FREQUENCY,TIME,TIME.1,Value,Flag Codes,location,indicator
0,TOT,AGRWTH,A,2015.0,2015.0,1.508367,NaN,AUS,CPIFORECAST
1,TOT,AGRWTH,A,2016.0,2016.0,1.253773,NaN,AUS,CPIFORECAST
2,TOT,NaN,A,2017.0,2017.0,1.972025,NaN,AUS,CPIFORECAST
3,TOT,AGRWTH,A,2018.0,2018.0,1.933888,NaN,AUS,CPIFORECAST
4,TOT,AGRWTH,A,2019.0,2019.0,1.551138,NaN,AUS,CPIFORECAST
...,...,...,...,...,...,...,...,...,...
324,TOT,AGRWTH,A,2017.0,2017.0,1.528207,NaN,EA17,CPIFORECAST
325,TOT,AGRWTH,A,2018.0,2018.0,1.761302,NaN,EA17,CPIFORECAST
326,TOT,AGRWTH,A,2019.0,2019.0,1.168102,NaN,EA17,CPIFORECAST
327,TOT,AGRWTH,A,2020.0,2020.0,1.118827,NaN,EA17,CPIFORECAST
328,TOT,AGRWTH,A,2021.0,2021.0,1.378801,NaN,EA17,CPIFORECAST

In [11]:
df = df[['location','indicator','SUBJECT','MEASURE','FREQUENCY','TIME','TIME.1','Value','Flag Codes']]

In [12]:
df

,location,indicator,SUBJECT,MEASURE,FREQUENCY,TIME,TIME.1,Value,Flag Codes
0,AUS,CPIFORECAST,TOT,AGRWTH,A,2015.0,2015.0,1.508367,NaN
1,AUS,CPIFORECAST,TOT,AGRWTH,A,2016.0,2016.0,1.253773,NaN
2,AUS,CPIFORECAST,TOT,NaN,A,2017.0,2017.0,1.972025,NaN
3,AUS,CPIFORECAST,TOT,AGRWTH,A,2018.0,2018.0,1.933888,NaN
4,AUS,CPIFORECAST,TOT,AGRWTH,A,2019.0,2019.0,1.551138,NaN
...,...,...,...,...,...,...,...,...,...
324,EA17,CPIFORECAST,TOT,AGRWTH,A,2017.0,2017.0,1.528207,NaN
325,EA17,CPIFORECAST,TOT,AGRWTH,A,2018.0,2018.0,1.761302,NaN
326,EA17,CPIFORECAST,TOT,AGRWTH,A,2019.0,2019.0,1.168102,NaN
327,EA17,CPIFORECAST,TOT,AGRWTH,A,2020.0,2020.0,1.118827,NaN
328,EA17,CPIFORECAST,TOT,AGRWTH,A,2021.0,2021.0,1.378801,NaN

In [25]:
df = df.drop(["Flag Codes"], axis = 1)

    location    indicator SUBJECT MEASURE FREQUENCY    TIME  TIME.1     Value
0        AUS  CPIFORECAST     TOT  AGRWTH         A  2015.0  2015.0  1.508367
1        AUS  CPIFORECAST     TOT  AGRWTH         A  2016.0  2016.0  1.253773
2        AUS  CPIFORECAST     TOT     NaN         A  2017.0  2017.0  1.972025
3        AUS  CPIFORECAST     TOT  AGRWTH         A  2018.0  2018.0  1.933888
4        AUS  CPIFORECAST     TOT  AGRWTH         A  2019.0  2019.0  1.551138
..       ...          ...     ...     ...       ...     ...     ...       ...
324     EA17  CPIFORECAST     TOT  AGRWTH         A  2017.0  2017.0  1.528207
325     EA17  CPIFORECAST     TOT  AGRWTH         A  2018.0  2018.0  1.761302
326     EA17  CPIFORECAST     TOT  AGRWTH         A  2019.0  2019.0  1.168102
327     EA17  CPIFORECAST     TOT  AGRWTH         A  2020.0  2020.0  1.118827
328     EA17  CPIFORECAST     TOT  AGRWTH         A  2021.0  2021.0  1.378801

[329 rows x 8 columns]

In [27]:
df = df.dropna(how = "any")

In [28]:
df

    location    indicator SUBJECT MEASURE FREQUENCY    TIME  TIME.1     Value
0        AUS  CPIFORECAST     TOT  AGRWTH         A  2015.0  2015.0  1.508367
1        AUS  CPIFORECAST     TOT  AGRWTH         A  2016.0  2016.0  1.253773
3        AUS  CPIFORECAST     TOT  AGRWTH         A  2018.0  2018.0  1.933888
4        AUS  CPIFORECAST     TOT  AGRWTH         A  2019.0  2019.0  1.551138
6        AUS  CPIFORECAST     TOT  AGRWTH         A  2021.0  2021.0  1.599625
..       ...          ...     ...     ...       ...     ...     ...       ...
324     EA17  CPIFORECAST     TOT  AGRWTH         A  2017.0  2017.0  1.528207
325     EA17  CPIFORECAST     TOT  AGRWTH         A  2018.0  2018.0  1.761302
326     EA17  CPIFORECAST     TOT  AGRWTH         A  2019.0  2019.0  1.168102
327     EA17  CPIFORECAST     TOT  AGRWTH         A  2020.0  2020.0  1.118827
328     EA17  CPIFORECAST     TOT  AGRWTH         A  2021.0  2021.0  1.378801

[321 rows x 8 columns]

In [ ]:
df.to_csv("./cpi2.csv")    #保存在当前文件夹